<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- Site Metas -->
   <title>Life Care - Responsive HTML5 Multi Page Template</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">


   <!-- Site Icons -->
   <link rel="shortcut icon" href="{{ asset('asset/images/fevicon.ico.png')}}" type="image/x-icon" />
   <link rel="apple-touch-icon" href="{{ asset('asset/images/apple-touch-icon.png')}}">

   {% block stylesheets %}
{{ encore_entry_link_tags('app') }}
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{asset('asset/css/bootstrap.min.css') }}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{{ asset('asset/css/style.css')}}">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="{{ asset ('asset/css/colors.css') }}">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="{{ asset('asset/css/versions.css') }}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{{ asset('asset/css/responsive.css') }}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{{ asset('asset/css/custom.css')}}">
{% endblock %}
{% block javascript %}
{{ encore_entry_link_tags('app') }}
   <!-- all js files -->
      <script src="{{ asset('asset/js/all.js')}}"></script>
      <!-- all plugins -->
      <script src="{{asset('asset/js/custom.js') }}"></script>
      <!-- map -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script>
   <!-- Modernizer for Portfolio -->
   <script src="{{ asset('asset/js/modernizer.js')}}"></script>
   
   {% endblock %}
   <!-- [if lt IE 9] -->
   </head>
   {% block header %}
        {% include "partials/_header.html.twig" %}
    {% endblock %}
   <body class="clinic_version">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{{ asset('asset/images/loaders/heart-loading2.gif') }}" alt="">
      </div>
      <!-- END LOADER -->
    {% block main %}

    {% endblock %}

    {% block footer %}
        {% include "partials/_footer.html.twig" %}
    {% endblock %}
    
   </body>
</html>
      
